* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============Common========= */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    text-align: center;
    display: inline-block;
    --height: 57px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 99px;
    border: 1.5px solid #143c3c;
    background-color: #143c3c;
    color: #fff;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.name {
    display: flex;
    align-items: center;
    gap: 21px;
    color: #152427;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13; /* 112.5% */
}

.name::before {
    content: "";
    width: 25px;
    height: 1px;
    background: #152427;
}

/* ===========Header========== */
.header {
    padding-top: 28px;
}

.header-top {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
    column-gap: 38px;
}

.navbar__link {
    text-decoration: none;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    transition: 0.25s;
}

.navbar__link--active {
    position: relative;
}

.navbar__link--active::after {
    position: absolute;
    display: inline-block;
    bottom: -46px;
    left: 0;
    content: "";
    width: 16px;
    height: 2px;
    background: #143c3c;
}
.navbar__link--active,
.navbar__link:hover {
    color: #152427;
}

.header-top__btn {
    margin-left: 88px;
}

.header-break {
    margin-top: 26px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* ============Hero=========== */
.hero {
    display: flex;
    padding: 60px 0 175.69px;
}

/* ===========Hero-left======== */
.hero__content {
    flex-shrink: 0;
    width: 41.14%;
}

.hero__heading {
    max-width: 368px;
    margin-top: 43px;
    color: #152427;
    font-family: Public Sans;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    max-width: 341px;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 59px;
    border: 4px solid #143c3c;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-42deg);
}

.hero__icon-play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    color: #fff;
    background-color: #83a17d;
    transform: rotate(45deg);
}

.hero__icon-text {
    margin-left: 7px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero__media {
    position: relative;
    width: 58.86%;
}

.hero__cirle-bg {
    position: absolute;
    left: 156px;
    top: 122px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__images {
    display: flex;
    column-gap: 20px;
}

.hero__img {
    z-index: 1;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    transform: translateY(77px);
}

.hero__decor-flower-top,
.hero__decor-flower-bottom,
.hero__decor-rope-top,
.hero__decor-rope-bottom {
    z-index: 2;
    position: absolute;
}

.hero__decor-flower-top {
    top: -29.39px;
    left: -131.58px;
}

.hero__decor-rope-top {
    top: -37.93px;
    left: -92px;
}

.hero__decor-flower-bottom {
    right: 34.12px;
    bottom: -105px;
}

.hero__decor-rope-bottom {
    left: 31px;
    bottom: -138px;
}

/* ==============Logo================ */
.logo {
    margin-top: 42.31px;
}

.logo__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100.5px;
    background: #e2eddf;
    padding: 76px 121px 77px;
}

.logo__icon {
    display: flex;
    align-items: center;
    gap: 11px;
}

.logo__text {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.5;
}

/* ===========Service=========== */
.service {
    margin-top: 106px;
}

/* ===========Top======== */
.service__top {
    display: flex;
    justify-content: space-between;
}

.service-info__label {
    color: #152427;
    position: relative;
    margin-left: 46px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.service-info__label::before {
    position: absolute;
    content: "";
    top: 9px;
    left: -46px;
    display: inline-block;
    width: 25px;
    height: 1px;
    background: #152427;
}

.service-info__heading {
    position: relative;
    margin-top: 12px;
    max-width: 520px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.service-info__heading::after {
    position: absolute;
    bottom: 19px;
    right: 103px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: #152427;
}

.service-controls {
    display: flex;
    gap: 17px;
    margin: 79px 73px 0 0;
}

.service-controls__btn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #e2eddf;
    color: #152427;
}

.service-controls__btn--reverse {
    rotate: 180deg;
}

.service-controls__btn:hover {
    cursor: pointer;
    background-color: #143c3c;
    color: #fff;
}

/*=========Bottom=========*/
.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    margin-top: 76px;
}

.service__item {
    transition: 0.25s;
}

.service__item:hover {
    border-radius: 0 0 20px 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__body {
    transition: 0.25s;
    padding-bottom: 23px;
}

.service__item:hover .service__body {
    padding-left: 18px;
}

.service__thumb {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.service__title {
    margin: 24px 0 18px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__desc {
    max-width: 268px;
    color: #7d8188;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ===========About============ */
.about {
    margin-top: 154px;
}

.about__inner {
    display: flex;
}

/* ============Left============ */
.about__media {
    position: relative;
    width: 51.84%;
    padding-top: 13px;
}

.about__media-images {
    position: relative;
    display: flex;
    gap: 21px;
}

.about__media-img {
    width: 284px;
    height: 480px;
    border-radius: 210px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__media-img:first-child {
    transform: translateY(77px);
}

.about__media-flower {
    position: absolute;
    top: -38px;
    left: 46px;
}

.about__media-rope {
    position: absolute;
    top: 0px;
    left: 82px;
}

.about__card {
    position: absolute;
    right: -9px;
    bottom: -66px;
    padding: 19px 17px 11px 17px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about__card-body {
    max-width: 98px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.about__tile {
    white-space: nowrap;
    margin-bottom: 6px;
    color: #152427;
    font-family: Public Sans;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__label {
    display: block;
    margin-bottom: 10px;
    color: #575d5e;
    font-family: Public Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4;
}

.about__text,
.about__teams-text,
.about__count {
    color: #152427;
    font-family: Public Sans;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about__text {
    margin: 3px 0 0 57px;
}

.about__teams {
    display: flex;
}

.about__team-avatar {
    margin-left: -6px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
}

.about__line {
    margin-top: 3px;
    position: relative;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about__line::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about__dot {
    display: flex;
}

.about__point {
    margin: 0 0 5px 2px;
}

.about__teams-text {
    margin-right: 36px;
}

/* ===========Right========== */
.about__content {
    margin-left: 64px;
}

.about__heading,
.countdown__number {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.about__heading {
    margin: 20px 0 11px;
}

.about__desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
    margin-bottom: 36px;
}

.countdown {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 24px;
    border-bottom: 1px solid #83a17d;
}

.countdown:last-child {
    padding-top: 38px;
}

.countdown__label {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* ================Process================= */
.process {
    margin-top: 192px;
}

.process__heading {
    margin-top: 20px;
    position: relative;
    max-width: 477px;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.process__heading::after {
    position: absolute;
    right: -9px;
    bottom: 18px;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #152427;
}

.process__list {
    margin-top: 81px;
}

.process__item {
    display: flex;
    justify-content: space-between;
    padding: 46px 41px 21px 20px;
    border-bottom: 3px solid #83a17d;
}

.process__item:hover {
    background-color: #e2eddf;
    border-radius: 33px;
    border-color: #e2eddf;
}

.process__item:hover .process__empty-block {
    background: #e2eddf;
    filter: blur(2px);
    z-index: 1;
}

.process__item:first-child {
    padding-bottom: 54px;
}

.process__number {
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72; /* 72.222% */
}

.process__title {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process__learn-more {
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    transition: 0.25s;
}

.process__learn-more:hover {
    text-decoration: underline;
}

.process__item:nth-child(1) {
    position: relative;
}

.process__img {
    position: absolute;
    width: 450px;
    height: 444px;
    top: -278px;
    right: 106px;
}
.process__wrapper {
    display: flex;
    align-items: center;
    gap: 367px;
}

.process__empty-block {
    width: 163px;
    height: 24px;
    background-color: #fff;
}

.process__desc {
    max-width: 572px;
    color: #7d8188;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.process__feature {
    display: flex;
    align-items: center;
    gap: 64px;
}

.process__item:nth-child(2) .process__feature {
    gap: 49px;
}

.process__item:last-child .process__feature {
    gap: 47px;
}

.process__project-idea {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* ==============Feature=========== */
.feature {
    margin-top: 148px;
    padding: 116px 0 63px;
    background-color: #143c3c;
}

.feature__top {
    display: flex;
    gap: 93px;
}

.feature__heading {
    position: relative;
    max-width: 457px;
    color: #e7f9f9;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.feature__heading::after {
    position: absolute;
    right: 97px;
    bottom: 20px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background-color: #83a17d;
}

.feature__desc,
.feature__label {
    color: #6a8383;
    font-family: Public Sans;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
}

.feature__desc {
    margin-top: 11px;
}

.feature__row {
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 26px;
}

.feature__label {
    color: #fff;
}

/* ===========Bottom============ */

.feature__media {
    margin-top: 65px;
    position: relative;
}

.feature__video-block {
    position: relative;
}

.feature__video {
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.feature__control-play {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.feature__video-play {
    position: absolute;
    top: calc(50% - 59px);
    left: calc(50% - 59px);
    z-index: 1;
}

.feature__flower {
    position: absolute;
    top: -54px;
    right: -56px;
}

.feature__rope {
    position: absolute;
    top: -151px;
    right: -44px;
}

/* ==================Service Feat================= */
.service-feat {
    margin-top: 140px;
    text-align: center;
}

.service-feat__heading {
    max-width: 520px;
    margin: 0 auto;
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.service-feat__desc {
    max-width: 547px;
    margin: 20px auto 0;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63; /* 162.5% */
}

.service-feat__list {
    margin-top: 103px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
}

.service-feat__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    padding: 80px 27px 74px 37px;
    transition: 0.25s;
}

.service-feat__item:hover {
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
}

.service-feat__title {
    margin-top: 26px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service-feat__content {
    margin-top: 9px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}
